div.example {
  background-color: #fff;
  border: dashed 2px #ccc;
  margin: auto 2em;
  padding: 1em;
}

ul.options {
	list-style-type: none;
	width: 90%;
	padding: 0;
	margin-top: 0.3em;
	margin-right: 0;
	margin-bottom: 0.3em;
	margin-left: 0;
}

ul.options li {
  background: #def url(cross_br.png) no-repeat 98% center;
  margin: 1px;
  padding: 0.1em 0.3em;
  cursor: pointer;
  color: #46a;
  font-weight: bold;
  border: solid 1px #cde;
}

select.options {
  swidth: 15em;
  color: #46a;
  font-weight: bold;
}

.code .html {
  color: #007f00;
}

.code .php {
  color: #7f007f;
}

.code .js {
  color: #00007f;
}

.highlight {
  background-color: #ff0;
}
